[submodule "BIM/RevitIFCImportClassMap/RevitIfcImportClassMap"]
	path = BIM/RevitIFCImportClassMap/RevitIfcImportClassMap
	url = https://github.com/jmirtsch/RevitIfcImportClassMap.git
[submodule "BIM/--force"]
	path = BIM/--force
	url = https://github.com/jmirtsch/RevitIfcImportClassMap.git
